.DS_Store
/.build
/Packages
.tmp-swift-testing/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj
.home/
*.log
/docs
